<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="111" android:versionName="5.0.0-SNAPSHOT" package="com.microsoft.appcenter.xamarin.forms.puppet">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="ACFPuppet"></application>
</manifest>