<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="91" android:versionName="3.4.4-SNAPSHOT" package="com.microsoft.appcenter.xamarin.forms.puppet">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="ACFPuppet">
	</application>
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
</manifest>